
#backbutt{
    float: left;
    margin-left: -150px;
    margin-top: -60px;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.heading{
    color: #355834;
    font-size: 30px;
}

.mainbody{
    color:#355834;
}

.next{
    float:right;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.prev{
    float:left;
    margin-left: -150px;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

body{
    margin-top: 5%;
    background: url(/LogosAndSuch/potbackd.png) no-repeat;
    background-size: cover;
    text-align: right;
    margin-left: 20%;
    width: 70%;
}

/*decided to have a seperate style sheet for the blogs because...neat? idk*/
/*might rethink blog layout if testers say colour-scheme is too distracting*/