
#backbutt{
    float: left;
    margin-left: -5%;
    margin-top: -2%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.hghg{
    color:blue;
}


.heading{
    color: #355834;
    font-size: 30px;
    margin-right: -5%;
    text-align: right;
}

.mainbody{
    color:#355834;
   
}

.next{
    float:right;
    margin-right: 0%;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.prev{
    float:left;
    margin-left: 0%;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

body{
    margin-top: 5%;
    background: url(../LogosAndSuch/potbackd.png) no-repeat;
    background-size: cover;
    /* text-align: right; */
    text-align: left;
    margin-left: 15%;
    width: 70%;
}

.crossout{
    text-decoration: line-through;
}

/*decided to have a seperate style sheet for the blogs because...neat? idk*/
/*might rethink blog layout if testers say colour-scheme is too distracting*/

.jsAttempt{
    font: 20px;
    margin-top: 5000000px;
    color: green;
}

nav .current{
    font-size: 20px;
    text-decoration: none;
    display:inline-block;
}

ul li{
    text-align: right;
    margin-right: -450px;
    padding:1px;
    display: block;
    color: #355834;
    text-decoration: none;
}

ul{
    float:left;
}


@media (max-width: 1200px){

    .heading{
        color: #355834;
        font-size: 30px;
        margin-right: 0%;
        text-align: right;
    }s

    body{
        background: none;
        background-color: rgb(240,163,185);
        margin-left: 5%;
        width: 90%
    }

}

@media (max-width: 800px){

    #backbutt{
        float: left;
        margin-left: 6%;
        margin-top: 2%;
    }s

    .heading{
        color: #355834;
        font-size: 30px;
        margin-right: 5%;
        text-align: right;
    }

    body{
        background: none;
        background-color: rgb(240,163,185);
        margin-left: 5%;
        width: 100%
    }

}


@media (max-width: 650px){
    #backbutt{
        float: left;
        margin-left: 5%;
        margin-top: 2%;
    }


    .heading{
        color: #355834;
        font-size: 30px;
        margin-right: -10%;
        text-align: right;
    }

    body{
        background: none;
        background-color: rgb(240,163,185);
        margin-left: 5%;
        width: 120%
    }

}

@media (max-width: 500px){

  #backbutt{
        float: left;
        margin-left: 5%;
        margin-top: 2%;
    }

    .heading{
        color: #355834;
        font-size: 30px;
        margin-right: -8%;
        text-align: right;
    }

    body{
        background: none;
        background-color: rgb(240,163,185);
        margin-left: 5%;
        width: 180%
    }

}

@media (max-width: 400px){

    #backbutt{
        float: left;
        margin-left: 5%;
        margin-top: 2%;
    }


    .heading{
        color: #355834;
        font-size: 30px;
        margin-right: -12%;
        text-align: right;
    }

    body{
        background: none;
        background-color: rgb(240,163,185);
        margin-left: 5%;
        width: 210%
    }

}