
#backbutt{
    float: left;
    margin-left: -5%;
    margin-top: -2%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.hghg{
    color:blue;
}


.heading{
    color: #355834;
    font-size: 30px;
    margin-right: 0%;
}

.mainbody{
    color:#355834;
   
}

.next{
    float:right;
    margin-right: 0%;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

.prev{
    float:left;
    margin-left: 0%;
    margin-bottom: 10%;
    color:aliceblue;
    background-color: #355834;
    padding: 10px;
    border-radius: 20px;
}

body{
    margin-top: 5%;
    background: url(../LogosAndSuch/potbackd.png) no-repeat;
    background-size: cover;
    text-align: right;
    margin-left: 20%;
    width: 70%;
}

/*decided to have a seperate style sheet for the blogs because...neat? idk*/
/*might rethink blog layout if testers say colour-scheme is too distracting*/

.jsAttempt{
    font: 20px;
    margin-top: 5000000px;
}

.current{
    color: green;
    font: 10px;
    text-decoration: none;
    display:inline-block;
}

