


nav{
    background: rgba(194,113,138, 0.8);
    backdrop-filter: 10px;
    height: 100px;
    width: 100%;
    position:fixed;
    margin-top: -9%;
}


.logo{
    color: #f1a7be;
    font-size: 40px;
    font-weight: bold;
    line-height: 20px;
    float:left;
    height: 50px;
    margin: 0px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
display:inline-block;
margin-top: 20px;
margin-right: 50px;

}

nav ul li a{
    font-size: 30px;
    font-style: italic;
    color:#540D6E;
    text-decoration: none;
}

a.active{
    background-color: #f1a7be;
    color:  #355834;;
    padding:5px 15px;
    border-radius: 30px;
    border-bottom-color: #540D6E;
    border-width: 2px;
}

#logoimg{
   
   margin-top: 5px;
   margin-left:5px;
   width: 100px;
   
}

.meatballs{
    font-size: 50px;
    color: #540D6E;
    float:right;
    margin:15px;
    line-height: 80px;
    display: none;
}

#menu{
    display: none;

}



@media (max-width: 1200px){
    nav{
        margin-top: -14%;
    }

    footer{
        margin-bottom: 15px;
    }

    #instaLogo{
        width: 5%;
    
        margin-bottom: -15px;
        margin-left: 30%;
    }

    #twitterLogo{
        width: 5%;
    
        margin-bottom: -15px;
        margin-left: 120px;
    }

    #gmailLogo{
        width: 5%;
    
        margin-bottom: -15px;
        margin-left: 120px;
    }

}

@media (max-width: 1000px){

    nav{
        position:fixed;
        margin-top: -19%;
    }

    .meatballs{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        background-color: rgba(194,113,138, 0.8);
        height: 100vh;
        text-align: center;
        top:135px;
        left: -110%;
        transition:cubic-bezier(0.4, 0.2, 0.6, 0.9) 1s;
    }


    nav ul li{
        display: block;
        padding:10px;
        line-height: 50px;
    }

    #menu:checked ~ ul{
        left: 0%;
    }

    #footerName{
        margin-bottom: -50%;
    }
}

.down{
    margin-bottom: 0px;
}

/*seperate stylesheet for the nav bar at the top as...helps to compartmentalize*/

/*Footer Shtuffs Follow here*/

footer{
    clear:both;
    height:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10px;
    color:#f1a7be;
    position:relative;
    bottom: 0px;
   /* bottom: -35%;*/
}

#footerName{
    background: rgba(194,113,138, 0.5);
    backdrop-filter: 10px;
    height: 80px;
    width:100%;
    margin-bottom: -20px;
}

#footerNameskill{
    background: rgba(194,113,138, 0.5);
    backdrop-filter: 10px;
    height: 80px;
    width:100%;
    /*margin-bottom: -800px;*/
    bottom: -50%;
}


#instaLogo{
    width: 5%;

    margin-bottom: 15px;
    margin-left: 30%;
}

#instaLogo:hover{
    transition:ease-in-out 0.5s;
    filter:saturate(5);

    /* box-shadow: 1px 1px 20px 5px rgb(255, 255, 255, 0.8); */
    /* background-color: rgb(255,255,255,1);   */
}

#twitterLogo{
    width: 5%;

    margin-bottom: 15px;
    margin-left: 120px;
}

#twitterLogo:hover{
    transition:ease-in-out 0.5s;
    filter:saturate(5);
    /* box-shadow: 0px 0px 20px 10px rgb(255, 255, 255, 1); */
    /* background-color: rgb(255,255,255,1); */
}

#gmailLogo{
    width: 5%;

    margin-bottom: 15px;
    margin-left: 120px;
}

#gmailLogo:hover{
    transition:ease-in-out 0.5s;
    filter:saturate(5);
    /* filter:contrast(100%); */
    /* box-shadow: 0px 0px 20px 10px rgb(84, 13, 110, 0.5); */
    /* background-color: rgb(255,255,255,1); */
    /* background-blend-mode: ; */
}

@media (max-width: 800px){
    nav{
        margin-top: -29%;
    }

    #footerName{
        margin-bottom: -20%;
    }


}

@media (max-width: 600px){
    nav{
        margin-top: -24%;
    }

    #footerName{
        margin-bottom: -22%;
    }
}