@font-face{
    font-family: 'writingSmolFont';
    src:url(../fonts/SYLFAEN.TTF);
}

@font-face{
    font-family: 'jacks';
    src:url(../fonts/Miama.ttf);
}

@font-face{
    font-family: 'cookie';
    src:url(../fonts/GARTON.TTF);
}

@font-face{
    font-family: 'pasile';
    src:url(../fonts/Pasile.ttf);
}

@font-face{
    font-family: 'Sunshine';
    src:url(../fonts/Satisfy-Regular.ttf);
}

                                            


.main_sec1{
    margin-top: 10%;
}


.heed {                                              /*--------------Homepage deets start here------------*/
    display:block;
    font-size: 30px;
   /* font-weight: bold;*/
    margin-left: 5%;
}

.pleb{
    display:block;
    font-size: 30px;
    /*font-weight: bold;*/
    width: 60%;
    margin-left: 10%;
    padding-left: 10px;
}

.about{
    width: 50%;
    float: right;
    font-size: 30px;
    text-align: right;
    margin-right: 20px;
    text-decoration: none;
}

.list{
    text-decoration: none;
    list-style-type: none;
}

body{

    font-family:   writingSmolFont, Cambria,Georgia,  Cochin, Times, 'Times New Roman', serif; /*writingSmolFont*/
    color: #540D6E;
    background: url(../LogosAndSuch/watercolorback.png)no-repeat;
    background-attachment: fixed;
    height: 100vh;

}

#me{
    width:30%;
    float:left;
    margin-left: 20px;
}

#jackquote{
    font-family: cookie;
    float:left;
   
    grid-column: 1;
    grid-row: 1;
    width:75%;
    padding-left: 30px;
    font-size: 50px;
}

#authrr{
    font-family: jacks;
    float: right;
    grid-column: 2;
    grid-row:1;
    width:25%;
    margin-top: -20px;
    font-size: 50px;
    font-style: italic;

}






.blogname{                          /*--------------Blogs deets start here------------*/
font-size: 20px;
line-height: 20px;

}

.blogdate{
font-size: 10px;
line-height: 10px;
}

.gridtest{
margin-top: -500px;
display: grid;
row-gap : 20px;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 270px 270px 270px 270px ;


padding-left:30px;
padding-top: 30px;
padding-bottom: 30px;

}

.recentgrid{
display:inline-block;
margin-left: 30px;

}

.recent{
    color:aliceblue;
    width: 100px;
    height: 500px; 
    padding: 2px;
    text-align: center;
}
.weekone {
    color:aliceblue;

    grid-row: 1;
    grid-column:1;
    background-color: rgba(168, 30, 218, 0.5);
   
    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
}

.weektwo {
    color:aliceblue;
 
    background-color: rgba(168, 30, 218, 0.5);

    grid-row: 1;
    grid-column: 2;

    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    
}

.weekthree {
    color:aliceblue;
 
    background-color: rgba(168, 30, 218, 0.5);

    grid-row: 1;
    grid-column: 3;

    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    
}

.weekfour {
    color:aliceblue;
 
    background-color: rgba(168, 30, 218, 0.5);

    grid-row: 2;
    grid-column: 1;

    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 80px;
    
}

.weekfive {
    color:aliceblue;
 
    background-color: rgba(168, 30, 218, 0.5);

    grid-row: 2;
    grid-column: 2;

    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 80px;
    
}

.weeksix {
    color:aliceblue;
 
    background-color: rgba(168, 30, 218, 0.5);

    grid-row: 2;
    grid-column: 3;

    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 80px;
    
}


.weekseven{
    color:aliceblue;

    grid-row: 3;
    grid-column:1;
    background-color: rgba(168, 30, 218, 0.5);
   
    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 160px;
}

.weekeight{
    color:aliceblue;

    grid-row: 3;
    grid-column:2;
    background-color: rgba(168, 30, 218, 0.5);
   
    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 160px;
}

.weeknine{
    color:aliceblue;

    grid-row: 3;
    grid-column:3;
    background-color: rgba(168, 30, 218, 0.5);
   
    height: 300px;
    width: 90%;
    box-shadow: 0 10px 20px #540d6e; 
    padding: 2px;
    text-align: center;
    margin-top: 160px;
}

.BlogHeader{
    font-weight: bold;
    font-family: Sunshine;
    text-decoration:underline;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    /*margin-left: 20%;*/
}                                                /*--------------Blogs deets end here------------*/


.wireframes{   
    align-content: center;                                 /*--------------Design page deets start here------------*/
    display:grid;
    grid-template-columns: 50% 50%; 
     grid-template-rows: 400px 300px 300px;
    /* row-gap: 20px; */
    column-gap: 20px;
    margin-left:100px;
}
.dezignchoyses{
    /* margin-left: 5%; */
    width:80%;
    font-size: 20px;
}

.designheaders{
  /*  text-indent: 450px;*/
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

#wireframe1{
    grid-column: 1;
    grid-row: 1;
    width:75%;
    }

#wireframe2{
    grid-column: 2;
    grid-row: 1;
    width:75%;
    }

#wireframe3{
    grid-column: 1;
    grid-row: 2;
    width:75%;
    margin-top: 80px;
    }

#wireframe4{
    grid-column: 2;
    grid-row: 2;
    width:75%;
    }                                       /*description of wire new starts here*/


    .newWireFrames{   
        align-content: center;                                 /*--------------Design page deets start here------------*/
        display:grid;
        grid-template-columns: 50% 50%; 
         grid-template-rows: 400px 300px 300px;
         row-gap: 40px; 
        column-gap: 20px;
        margin-left:50px;
    }

    .NewWires{
        /*  text-indent: 450px;*/
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 40px;
      }

    #BlogWire{
        width:80%;
    }
    #GamesWire{
        width:80%;
    }
    #SkillsWire{
        width:80%;
    }
    #DescriptionOfNewWires{
        width:100%;
    }

#coolor{
    margin-top: -40px;
    margin-left: 30px;
    font-size: 30px;
    font-style: italic;
    color: black;
    }                                         /*----------------Design Page deets end here---------------*/

    
   
    .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
        margin-left:40px;
        margin-top:0px;
        margin-bottom: 300px;
        font-size: 20px;
        font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width:75%;
        height:250px;
    }

    .mainskillhead{
        margin-left: 30px;
        font-size: 50px;
        font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
        font-weight:800;
        /* line-height: 80px; */
    }

    .skillhead{
        font-size: 20px;
    }

    .skillpar{
        height:50%;
    }

    .langDesc{
        font-size: 30px;
        width: 50%;
        float: right;
        margin-top: -45%;
        margin-right:30px;
        text-align: right;
    }

    .otherSkillsHead{
        margin-top: -15%;
        margin-left: 30px;
        font-size: 50px;
        font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
        font-weight:800;
    }
    

    #butt{
        margin-top: 400px;
        margin-left: 300px;
        padding: 30px;
    }


    .outercon{
        margin-top: 10px;
        height: 100vh;
        background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
        background-size: 140vh;
       /* position:relative;*/
    }

    .outercon .prog{
    height:100vh;
    position:absolute;
    background:url(../images/GreenVines_Words.png)no-repeat;
    background-size: 140vh;
    animation: animatrial 8s forwards;
    }

    .outerconMarks{
        /* float:right; */
        position: relative;
         margin-left: 750px; 
         margin-top: 0%; 
         /* margin-bottom: 900px;  */
        background: url(../images/combinedVines.png)no-repeat;
        background-size: 80vh;
        padding-bottom: 100px;
    }

    .outerconMarks .progMarks{
         height:120vh; 
        /* position: relative; */
        background: url(../images/combinedLeaves.png)no-repeat;
        background-size: 80vh;
        /* animation: animatrialMarks 8s both; */
        animation: animatrial 4s;
    }

    @media (max-width:1200px)
    {



        .main_sec1{
            margin-top: 15%;
        }

        .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
            
            margin-left:40px;
            margin-top:0px;
            margin-bottom: 300px;
            font-size: 20px;
            font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:75%;
            height:250px;
        }
    
        .mainskillhead{
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
            /* line-height: 80px; */
        }
    
        .skillhead{
            font-size: 20px;
        }
    
        .skillpar{
            height:50%;
        }
    
        .langDesc{
            font-size: 30px;
            width: 90%;
            float: right;
            margin-top: -5%;
            margin-right:30px;
            text-align: right;
        }
    
        .otherSkillsHead{
            margin-top: -15%;
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
        }

        .outerconMarks{
            position: relative;
            margin-left: 100px; 
            margin-top: 30%; 
            align-items: center;
            background: url(../images/combinedVines.png)no-repeat;
            background-size: 80vh;
            padding-bottom: 100px;
        }

        .outercon{
            margin-top: 10px;
            height: 100vh;
            margin-left: 100px;
            background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
            background-size: 140vh;
           /* position:relative;*/
        }

    }


    @media (max-width:1010px)
    {

        
        .main_sec1{
            margin-top: 20%;
        }

        .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
            margin-left:40px;
            margin-top:0px;
            margin-bottom: 500px;
            font-size: 20px;
            font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:65%;
            height:250px;
        }
    
        .mainskillhead{
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
            /* line-height: 80px; */
        }
    
        .skillhead{
            font-size: 20px;
        }
    
        .skillpar{
            height:50%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    
        .langDesc{
            font-size: 30px;
            width: 90%;
            float: right;
            margin-top: -5%;
            margin-right:30px;
            text-align: right;
        }
    
        .otherSkillsHead{
            margin-top: -15%;
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
        }

        .outerconMarks{
            position: relative;
            margin-left: 100px; 
            margin-top: 40%; 
            align-items: center;
            background: url(../images/combinedVines.png)no-repeat;
            background-size: 80vh;
            padding-bottom: 100px;
        }

        .outercon{
            margin-top: 10px;
            height: 100vh;
            margin-left: 100px;
            background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
            background-size: 140vh;
           /* position:relative;*/
        }
    }

    @media (max-width:900px)
    {

        
        .main_sec1{
            margin-top: 25%;
        }

        .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
            margin-left:40px;
            margin-top:0px;
            margin-bottom: 500px;
            font-size: 20px;
            font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:75%;
            height:250px;
        }
    
        .mainskillhead{
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
            /* line-height: 80px; */
        }
    
        .skillhead{
            font-size: 20px;
        }
    
        .skillpar{
            height:50%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    
        .langDesc{
            font-size: 30px;
            width: 90%;
            float: right;
            margin-top: -5%;
            margin-right:30px;
            text-align: right;
        }
    
        .otherSkillsHead{
            margin-top: -15%;
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
        }

        .outerconMarks{
            position: relative;
            margin-left: 100px; 
            margin-top: 60%; 
            align-items: center;
            background: url(../images/combinedVines.png)no-repeat;
            background-size: 80vh;
            padding-bottom: 100px;
        }

        .outercon{
            margin-top: 5px;
            height: 100vh;
            margin-left: 100px;
            background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
            background-size: 140vh;
           /* position:relative;*/
        }

    }


    @media (max-width:750px)
    {

        
        .main_sec1{
            margin-top: 30%;
        }

        .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
            margin-left:40px;
            margin-top:0px;
            margin-bottom: 500px;
            font-size: 20px;
            font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:75%;
            height:250px;
        }
    
        .mainskillhead{
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
            /* line-height: 80px; */
        }
    
        .skillhead{
            font-size: 20px;
        }
    
        .skillpar{
            height:50%;
            padding-top: 20px;
            padding-bottom: 40px;
        }
    
        .langDesc{
            font-size: 30px;
            width: 90%;
            float: right;
            margin-top: -15%;
            margin-right:30px;
            text-align: right;
        }
    
        .otherSkillsHead{
            margin-top: -15%;
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
        }

        .outerconMarks{
            position: relative;
            margin-left: 100px; 
            margin-top: 60%; 
            align-items: center;
            background: url(../images/combinedVines.png)no-repeat;
            background-size: 80vh;
            padding-bottom: 100px;
        }

        .outercon{
            margin-top: 5px;
            height: 100vh;
            margin-left: 100px;
            background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
            background-size: 140vh;
           /* position:relative;*/
        }

    }


    @media (max-width:670px)
    {

        .main_sec1{
            margin-top: 35%;
        }

        .leftskill{                                 /*----------------Skill Page deets starts here--------------*/
            margin-left:40px;
            margin-top:25%;
            margin-bottom: 500px;
            font-size: 20px;
            font-family: writingSmolFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width:75%;
            height:250px;
        }
    
        .mainskillhead{
            margin-left: 30px;
            font-size: 50px;
            margin-top: -50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
            /* line-height: 80px; */
        }
    
        .skillhead{
            font-size: 20px;
        }
    
        .skillpar{
            height:50%;
            width: 120%;
            padding-top: 20px;
            padding-bottom: 50px;
        }
    
        .langDesc{
            font-size: 25px;
            width: 90%;
            float: right;
            margin-top: -50%;
            margin-right:30px;
            text-align: right;
        }
    
        .otherSkillsHead{
            margin-top: -65%;
            margin-left: 30px;
            font-size: 50px;
            font-family: pasile,writingSmolFont, Georgia, 'Times New Roman', Times, serif;
            font-weight:800;
        }



.outerconMarks .progMarks{
    height:120vh; 
   /* position: relative; */
   background: url(../images/combinedLeaves.png)no-repeat;
   background-size: 50vh;
   /* animation: animatrialMarks 8s both; */
   animation: animatrial 4s;
}

        .outerconMarks{
            position: relative;
            margin-left: 100px; 
            margin-top: 60%; 
            align-items: center;
            background: url(../images/combinedVines.png)no-repeat;
            background-size: 50vh;
            padding-bottom: 100px;
        }

        .outercon .prog{
            height:100vh;
            position:absolute;
            background:url(../images/GreenVines_Words.png)no-repeat;
            background-size: 100vh;
            animation: animatrial 8s forwards;
            }

        .outercon{
            margin-top: 5px;
            height: 100vh;
            margin-left: 0px;
            background: url(../images/ProgressBar_Words_Purple.png)no-repeat;
            background-size: 100vh;
           /* position:relative;*/
        }

    }


    @media (max-width: 1200px){
        .wireframes{   
            align-content: center;                                 /*--------------Design page deets start here------------*/
            display:grid;
            grid-template-columns: 90%; 
            grid-template-rows: 400px 400px 400px 400px 400px;
            row-gap: 30px; 
            column-gap: 30px;
            margin-left:100px;
        }


     
        .dezignchoyses{
            /* margin-left: 5%; */
            width:80%;
            font-size: 20px;
            text-align: left;
        }

        #colourSplash{
            width:80%;
        }
        
        .designheaders{
          /*  text-indent: 450px;*/
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 40px;
        }
        
        #wireframe1{
            grid-column: 1;
            grid-row: 1;
            width:100%;
            /* margin-top: 50%; */
            }
        
        #wireframe2{
            grid-column: 1;
            grid-row: 2;
            width:100%;
            margin-top: 25%;
            }
        
        #wireframe3{
            grid-column: 1;
            grid-row: 3;
            width:100%;
            margin-top: 50%;
            }
        
        #wireframe4{
            grid-column: 1;
            grid-row: 4;
            width:100%;
            margin-top: 75%;
            }                                       /*description of wire new starts here*/
        
        
            .newWireFrames{   
                align-content: center;                                 /*--------------Design page deets start here------------*/
                display:grid;
                grid-template-columns: 90%; 
                 grid-template-rows: 400px 400px 400px 400px 400px;
                 row-gap: 40px; 
                column-gap: 20px;
                margin-left:50px;
            }
        
            .NewWires{
                /*  text-indent: 450px;*/
                margin-top: 70%;
                  text-align: center;
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  font-size: 40px;
              }
        
            #BlogWire{
                width:90%;
                grid-column: 1;
                grid-row:1;
            }
            #GamesWire{
                margin-top: 5%;
                width:92%;
                grid-column: 1;
                grid-row:2;
            }
            #SkillsWire{
                margin-top: 10%;
                width:94%;
                grid-column: 1;
                grid-row:3;
            }
            #DescriptionOfNewWires{
                margin-top: 20%;
                width:90%;
                grid-column: 1;
                grid-row:4;
            }
        
        #coolor{
            /* width: 900px; */
            margin-top: -40px;
            margin-left: 30px;
            font-size: 30px;
            font-style: italic;
            color: black;
            }           
    }

/*-----------------------------------------Blogs Responsiveness deets start here--------------------------------------------------------------*/

/* ----------------------------------------------Homepage------------------------------------------------- */

@media (max-width: 1200px){
    .main_sec1{
        margin-top: 15%;
    }

    #me{
        width:50%;
        align-self: center;
        margin-top: -120%;
        /* margin-left: 20px; */
    }

    .about{
        width: 50%;
        float: right;
        font-size: 30px;
        text-align: right;
        margin-right: 20px;
        margin-top: 80%;
        text-decoration: none;
    }

    #jackquote{
        margin-top: 20%;
    }

    #authrr{
        margin-top: 10%;
    }

    .recentgrid{
        display:inline-block;
        /* margin-left: 30px; */
        
        }
        
        .recent{
            color:aliceblue;
            width: 100px;
            height: 500px; 
            padding: 2px;
            text-align: center;
        }


    .gridtest{
        margin-top: -500px;
        display: grid;
        row-gap : 10px;
        grid-template-columns: 90%;
        grid-template-rows: 350px 350px 400px 350px 400px 400px 400px 400px 400px 100px;
        
        
        margin-left: 20%;
        margin-right: 0%;
        padding-top: 30px;
        padding-bottom: 30px;
        
        }


        .blogname{                          
            font-size: 20px;
            line-height: 20px;
            
            }
            
            .blogdate{
            font-size: 10px;
            line-height: 10px;
            }


            .weekone {
                color:aliceblue;
            
                grid-row: 1;
                grid-column:1;
                background-color: rgba(168, 30, 218, 0.5);
               
                /* height: 200px; */
                height: 80%;
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 

                padding: 2px;
                text-align: center;
            }
            
            .weektwo {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 2;
                grid-column: 1;
            
                /* height: 200px; */
                height: 80%;
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                
            }
            
            .weekthree {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 3;
                grid-column: 1;
            
                height: 80%;  /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                
            }
            
            .weekfour {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 4;
                grid-column: 1;
            
                height: 80%;/* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }
            
            .weekfive {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 5;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }
            
            .weeksix {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 6;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }


            .weekseven {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 7;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .weekeight{
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 8;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .weeknine {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 9;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .BlogHeader{
                font-weight: bold;
                font-family: Sunshine;
                text-decoration:underline;
                font-style: italic;
                font-size: 50px;
                text-align: center;
                /*margin-left: 20%;*/
            }                     

}



    @media (max-width: 1000px){

        .main_sec1{
            margin-top: 20%;
        }


        #me{
            width:60%;
            align-self: center;
            margin-top: 0%;
            position:absolute;
            /* margin-left: 0%; */
            margin-left: 20%;
        }
    
        .about{
            width: 50%;
            align-self: center;
            /* float: ; */
            font-size: 30px;
            text-align: right;
            margin-right: 80px;
            margin-top: 90%;
            text-decoration: none;
        }
    
        #jackquote{
            margin-top: 10%;
        }
    
        #authrr{
            margin-top: 10%;
        }

        .blogname{                          
            font-size: 20px;
            line-height: 20px;
            
            }
            
            .blogdate{
            font-size: 10px;
            line-height: 10px;
            }
            
            .gridtest{
            margin-top: -500px;
            display: grid;
            row-gap : 10px;
            grid-template-columns: 90%;
            grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px 100px;
            
            
            margin-left: 20%;
            margin-right: 0%;
            padding-top: 30px;
            padding-bottom: 30px;
            
            }
            
            .recentgrid{
            display:inline-block;
            /* margin-left: 30px; */
            
            }
            
            .recent{
                color:aliceblue;
                width: 100px;
                height: 500px; 
                padding: 2px;
                text-align: center;
            }
            .weekone {
                color:aliceblue;
            
                grid-row: 1;
                grid-column:1;
                background-color: rgba(168, 30, 218, 0.5);
               
                /* height: 200px; */
                height: 80%;
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 

                padding: 2px;
                text-align: center;
            }
            
            .weektwo {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 2;
                grid-column: 1;
            
                /* height: 200px; */
                height: 80%;
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                
            }
            
            .weekthree {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 3;
                grid-column: 1;
            
                height: 80%;  /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                
            }
            
            .weekfour {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 4;
                grid-column: 1;
            
                height: 80%;/* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }
            
            .weekfive {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 5;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }
            
            .weeksix {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 6;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .weekseven {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 7;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .weekeight{
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 8;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }

            .weeknine {
                color:aliceblue;
             
                background-color: rgba(168, 30, 218, 0.5);
            
                grid-row: 9;
                grid-column: 1;
            
                height: 80%; /* height: 200px; */
                width: 90%;
                box-shadow: 0 10px 20px #540d6e; 
                padding: 2px;
                text-align: center;
                margin-top: -10px;
                
            }
            
            .BlogHeader{
                font-weight: bold;
                font-family: Sunshine;
                text-decoration:underline;
                font-style: italic;
                font-size: 50px;
                text-align: center;
                /*margin-left: 20%;*/
            }                      
        

    }


    @media (max-width: 800px){
        .main_sec1{
            margin-top: 30%;
        }

        #me{
            width:60%;
            align-self: center;
            margin-top: 0%;
            position:absolute;
            /* margin-left: 0%; */
            margin-left: 20%;
        }
    
        .about{
            width: 60%;
            align-self: center;
            /* float: ; */
            font-size: 30px;
            text-align: right;
            margin-right: 80px;
            margin-top: 90%;
            text-decoration: none;
        }
    
        #jackquote{
            margin-top: 10%;
        }
    
        #authrr{
            margin-top: 10%;
        }
    }

    @media (max-width: 600px){
        .main_sec1{
            margin-top: 30%;
        }
    }






    @keyframes animatrial {
        0% { width: 0%; }
        50% { width: 50%}
        100% { width: 100%; }
    }

    @keyframes animatrialMarks{
        0% { height: 0%; }
        100% { height: 100%; } 
    }

    @keyframes FromBottomUp{
        0% { background-size: 0vh;}
        100% {background-size:80vh;}
    }

    